		/***** Global Styles *****/
		body {
			margin:0;
			padding:0;
			font-family: 'Roboto', sans-serif;
		}
		a, .clickable {
			color: #0079c2;
		}
		a:hover, .clickable:hover {
			text-decoration: underline;
		}
		h1, h2 {
			color: #0063be;
		}
		/*** header ***/
		header {
			width:100%;
		}
		.header-wrapper {
			max-width: 1024px;
			max-height: 120px;
			margin-left: auto;
			margin-right: auto;
			padding: 2em 1em 1em 1em;
			position: relative;			
		}
		/*** main ***/
		#main {
			width:100%;
		}
		.hero-img img {
			width:100%;
		}
		.contact-link {
			position: absolute;
			top:1em;
			right:1em;
			font-weight: bold;
		}
		#content {
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			margin-left: 30px;
			margin-right: 30px;
		}
		h1 + p {
			margin-left: 30px;
			margin-right: 30px;
		}
		.news {
			margin-bottom: 1em;
		}
		.news .feed-item {
			display: inline-block;
		}

		/*** footer ***/
		footer {


		}
		/** footer nav **/
		footer nav {
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
			overflow: auto;
		}
		footer nav .menu {
			list-style-type: none;
			padding:0;
			overflow: auto;
			max-width: 583px;
			margin-left: auto;
			margin-right: auto;
			font-size: .8em;
		}
		.nav-wrapper {
			overflow: auto;
		}
		footer nav .menu .menu-item {
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		footer nav .menu .menu-item.last {
			border-right: 0px;
		}
		footer nav img {
			vertical-align: text-bottom;
		}
		.newline {
			clear:left;
		}
		/*** corporate info ***/
		.company {
			max-width: 1024px;
			margin-left: auto;
			margin-right: auto;
		}
		.company .description {
			float:left;
			color: #939598;
		}
		.company-particulars {
			clear: left;
			margin-bottom: 2em;
			color: #6C686E;
		}